.home_frame{
    //height: 770px;
}

.head{
    color: white !important;
    .head_title{
        float: left;
    }
    .head_title_chinese{
        font-size: 25px;
    }
    .head_title_english{
        display: block;
        margin-top: -44px;
        font-size: 4px;
    }
    .head_userInfo{
        float:right;
        font-size: 20px;
        .head_userInfo_icon{
            margin-left: 10px;
        }
    }
}

.home_below{
    height: 91vh;
    min-height: 300px;
    max-height: 657px;
    .home_createPage{
        padding-left: 24px !important;
        background-color: rgba(23, 202, 204, 0.5);
        border-radius: 15px;
        margin: 5px 10px;
        width: 82% !important;
    }
}

.home_content{
    display: flex;
	flex-direction: row;
    height: 100%;
}

//-------------头部------------------------
.ant-layout-header{
    height: 68px !important;
}