.createpage_frame{
    //border:1px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.left{
    //border:1px solid red;
    width: 20%;
    padding: 10px 10px;
    .createpage_select{
        //border:1px solid darkgoldenrod;
        width: 100%;
    }
    .createpage_tree{
        //border:1px solid forestgreen;
        width: 100%;
        min-height: 80%;
        max-height: 80%;
        overflow: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.right{
    //border: 1px solid darkblue;
    width: 75%;
    padding: 10px 20px;
    font-size: 20px;
    .createPage_form{

    } 
    .right_addContent_text{
        font-size:14px;
        height: 32px;
        color: rgba(0, 0, 0, 0.85);
        display: block;
        //float: left;
        margin-right: 11px;
    }
    .dynamic-delete-button{
        float: right;
        position: relative;
        margin-top: -47px !important;
        font-size: 20px;
    }
}
.download_confirm_now{
    margin-left:40px;
}
