.createpage_frame{
    border:1px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.left{
    border:1px solid red;
    width: 20%;
}
.right{
    border: 1px solid darkblue;
    width: 75%;
}
