.card_sys_describe{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_cover_img{
    width: 100px !important;
    margin: 60px auto;
}
.sys_pagination{
    float: right;
    margin-top: 10px !important;
}